.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-bubble {
  max-width: 70%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 12px;
  background: #0f0000;
}

.my-message {
  align-self: flex-end;
  background: #081f01ea;
}

.other-message {
  align-self: flex-start;
  background: #1a0101e3;
}

.sender {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.text {
  font-size: 1rem;
}

.time {
  font-size: 0.7rem;
  text-align: right;
  margin-top: 4px;
  color: rgb(20, 1, 1);
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #0a0000;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #160101e8;
  margin-right: 5px;
}
