<h2>Lista de Productos</h2>
<table>
   <thead>
      <tr>
         <th>Nombre</th>
         <th>Descripción</th>
         <th>Precio (ARS)</th>
         <th>Categoría</th>
         <th>Imagen</th>
         <th>Acciones</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let p of productos">
         <td>{{ p.nombre }}</td>
         <td>{{ p.descripcion }}</td>
         <td>{{ p.precio_ars }}</td>
         <td>{{ p.categoria }}</td>
         <td><img [src]="p.imagen" width="50" /></td>
         <td>
            <button (click)="eliminar(p.id!)">Eliminar</button>
         </td>
      </tr>
   </tbody>
</table>