<h2>Lista de Productos</h2>
<table>
   <thead>
      <tr>
         <th>Nombre</th>
         <th>Descripción</th>
         <th>Precio (ARS)</th>
         <th>Categoría</th>
        
         
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let p of productos">
          <td><div class="nombre"></div></td>
          <td><div class="descripcion"></div></td>
         
         
         <td>
            <button (click)="eliminar(p.id!)">Eliminar</button>
         </td>
      </tr>
   </tbody>
</table>