<div class="container" novalidate>

<h2>Alta de Producto</h2>
"formularioProducto" 
    <div class="form-group">
    <label>Nombre:</label>
    <input type="text" formControlName="nombre" /><br />
    <div>
    <label>Descripción:</label>
    <textarea formControlName="descripcion"></textarea><br />

    <label>Precio ARS:</label>
    <input type="number" formControlName="precio_ars" /><br />

    <label>Categoría:</label>
    <input type="text" formControlName="categoria" /><br />

    <label>Imagen (URL):</label>
    <input type="text" formControlName="imagen" /><br />

    <button type="submit">Guardar</button>

</div>

 