body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #0f010a, #01090a);
  min-height: 100vh;
  color: rgb(7, 1, 1);
}

.navbar {
  border-bottom: 1px solid #444;
}

.table {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(14, 1, 1);
}

.table thead {
  background-color: rgba(15, 2, 2, 0.1);
}

.btn {
  border-radius: 20px;
  padding: 5px 15px;
}
