<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" routerLink="/">Gestión Café</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/producto/nuevo">Agregar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/facturar">Facturar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registro">Registro</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Aquí se muestra el componente según la ruta -->
<router-outlet></router-outlet>
