
<div class="container mt-4">
    <h4>{{ esNuevo ? 'Agregar Producto' : 'Editar Producto' }}</h4>

    <form (ngSubmit)="guardar()">
        <div class="mb-3">
            <label>Nombre</label>
            <input class="form-control" type="text" [(ngModel)]="miProducto.nombre" name="nombre" required />
        </div>

        <div class="mb-3">
            <label>Descripción</label>
            <input class="form-control" type="text" [(ngModel)]="miProducto.descripcion" name="descripcion" />
        </div>

        <div class="mb-3">
            <label>Precio (ARS)</label>
            <input class="form-control" type="number" [(ngModel)]="miProducto._precio_ars" name="precio_ars" required />
        </div>

        <div class="mb-3">
            <label>Categoría</label>
            <input class="form-control" type="text" [(ngModel)]="miProducto.categoria" name="categoria" />
        </div>

        <div class="mb-3">
            <label>URL de Imagen</label>
            <input class="form-control" type="text" [(ngModel)]="miProducto.imagen" name="imagen" />
        </div>

        <button class="btn btn-success" type="submit">
            {{ esNuevo ? 'Agregar' : 'Actualizar' }}
        </button>
    </form>
</div>
  