<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-header bg-secondary text-white text-center">
                Agregar producto
            </div>
            <div class="card-body">
                <form (ngSubmit)="guardar()" #formulario="ngForm">
                    <div class="mb-3">
                        <label>Nombre</label>
                        <input type="text" class="form-control" [(ngModel)]="miProducto.nombre" name="nombre"
                            required />
                    </div>
                    <div class="mb-3">
                        <label>Descripción</label>
                        <input type="text" class="form-control" [(ngModel)]="miProducto.descripcion"
                            name="descripcion" />
                    </div>
                    <div class="mb-3">
                        <label>Precio</label>
                        <input type="number" class="form-control" [(ngModel)]="miProducto._precio_ars" name="precio_ars" />
                    </div>
                    <div class="mb-3">
                        <label>Categoría</label>
                        <input type="text" class="form-control" [(ngModel)]="miProducto.categoria" name="categoria" />
                    </div>
                    <div class="mb-3">
                        <label>URL de Imagen</label>
                        <input type="text" class="form-control" [(ngModel)]="miProducto.imagen" name="imagen" />
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-secondary" (click)="limpiar()">Limpiar</button>
                        <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  