<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
            <div class="card-header text center">Agregar producto</div>
            <div class="card-body">
                <form>
                    <input type="text" class="form-control" [(ngModel)]="this.miProducto.nombre" placeholder="Nombre">
                    <input type="text" class="form-control mt-2" [(ngModel)]="this.miProducto.descripcion"
                        placeholder="Descripcion">
                    <input type="text" class="form-control mt-2" [(ngModel)]="this.miProducto.precio_arg"
                        placeholder="Precio">
                    <input type="text" class="form-control mt-2" [(ngModel)]="this.miProducto.categoria"
                        placeholder="Categoria">
                    <input type="text" class="form-control mt-2" [(ngModel)]="this.miProducto.imagen"
                        placeholder="Imagen">
                    <div class="row mt-2 text-center">

                        <input type="button" value="Limpiar" (click)="limpiar()">
                        <input type="button" value="Guardar" (click)="guardar()">

                    </div>

                </form>
            </div>
        </div>
    </div>